.el-form-item
  margin-bottom: 0px;
  margin-top: 16px;
.el-icon-search
  position: relative;
  top: 2px;
.search-area
  .el-input__inner
    height: 32px!important;
    line-height: 32px!important;
    border-color: #D9D9D9;
    &:hover
      border-color: #409EFF!important;
    .el-input__icon
      height: auto;
  .el-range-editor
    padding: 0 15px;
.center-area
  .el-input__inner
    height: 32px!important;
    line-height: 32px!important;
    border-color: #D9D9D9;
.el-button
  padding: 8px 13px;
.no-xscorll > .el-scrollbar__wrap
  overflow-x: hidden;
.is-horizontal
  display none;
.el-dialog__header
  background #85B5F2;
  border 1px solid #d9d9d9;
  padding 20px
.el-dialog__title
  color #fff !important;
.el-dialog__headerbtn .el-dialog__close
  color #fff
.el-tooltip__popper
  background #999 !important;
  border none !important;
  padding 20px !important;
  color #fff;
.el-input__inner
  &:hover
    border-color: #409EFF!important;
.el-textarea__inner
  &:hover
    border-color: #409EFF!important;

