.navCollapsed
  .sidebar
    width: 64px !important;
    ul
      display: none;
    span
      display: none;
    .el-submenu__icon-arrow
      display: none;
  .main-container
    margin-left: 64px;
