//样式全局变量
$positive=#118BF5
$topAsideHeight=50px

$listPaddingLeft=34px
$listCheckboxRight=34px
$listBottomBorder=#d9d9d9

$yqSensitive=#EB4B4B
$orderDistribution=#3285F1
$yqNature=#E6A23C
$create=#47CC1F
$extended=#F18232

